h1 {
  color: #ff5533;
  background-color: black;
}
h6 {
  color: #b0ceff;
  background-color: black;
}
p {
  background-color: bisque;
}
#p1 {
  color: red;
}
#p2 {
  color: green;
  background-color: bisque;
}
#p3 {
  color: blue;
  background-color: bisque;
}
pre {
  color: aqua;
  background-color: black;
}
table,
th,
td {
  border: 1px solid black;
  padding: 8px;
}
th {
  color: blue;
}
li {
  background-color: black;
}

ul li {
  color: palevioletred;
}
ol li {
  color: cornflowerblue;
}
